# Ignore Python bytecode
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore input/output folders if not needed on GitHub
video_frames/
segmented_video_frames/
segmented_images/
outputs/

# Ignore large video or media files
*.mp4
*.avi
*.mov
*.mkv

# VS Code settings
.vscode/
